:root {
            --md-sys-color-primary: #ffc107;
            /* dorado */
        }

        body {
            background-color: #121212;
            color: white;
            font-family: Roboto, sans-serif;
        }

        .gold-logo {
            height: 60px;
        }

        .icon-bar {
            width: 60px;
        }

        .footer-icon {
            width: 40px;
        }

        .fixed-height-carousel img {
            height: 250px;
            object-fit: cover;
        }
