.container {
    padding-top: 20px;
    padding-bottom: 15px;
}

/* encabezado */
.header {
    padding: 50px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
}

.headerLink {
  text-decoration: none;
  text-align: center;
}

.headerIcon {
  width: 100px;
}

.headerText {
  font-weight: bold;
  color: var(--md-sys-color-on-background);
}

/* titulo */
.title {
  text-align: center;
  color: var(--md-sys-color-primary);
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 0;
}

/* main productos */
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

/* productos card */
.productCard {
  max-width: 1000px;
  width: 100%;
  background-color: var(--md-sys-color-surface);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardContent {
  padding: 26px;
}

.cardTitle {
  color: var(--md-sys-color-primary);
  text-align: center;
}

/* Estilos para cada producto individual */
.productItem {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 1rem;
  border-bottom: 1px solid var(--md-sys-color-on-surface);
  padding-bottom: 1rem;
}

.productItem:last-child {
  border-bottom: none;
}

.productInfo {
  flex: 1;
}

.productName {
  margin-left: 20px;
  color: var(--md-sys-color-on-background);
}

.productDescription {
  max-width: 700px;
  color: var(--md-sys-color-on-surface);
}

.actions {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.control {
  display: flex;
  align-items: center;
  gap: 40px;
}

.cantidad {
  color: var(--md-sys-color-on-background);
}

.addButton {
  margin-top: 8px;
}

.precio {
  color: var(--md-sys-color-primary);
  margin: 4px 0;
}


/* Celulares (<= 768px) */
@media (max-width: 768px) {
  .header {
    flex-wrap: wrap; /* se apilan iconos */
    gap: 15px;
    padding: 20px 0;
  }

  .headerIcon {
    width: 60px;
  }

  .title {
    font-size: 28px;
  }

  .productItem {
    flex-direction: column; /* apilar info y acciones */
    align-items: flex-start;
  }

  .productName {
    margin-left: 0;
  }

  .actions {
    width: 100%;
    flex-direction: column; /* botones en fila */
    justify-content: space-between;
    margin-top: 10px;
  }

  .control {
    gap: 15px;
  }

  .precio {
    font-size: 1rem;
  }
}
